<% if (title) { %>
    <div class="title">
        <h1>
            <%= title %>
        </h1>
    </div>
    <div class="management-grid">
        <div class="management-item">
            <a href="/inv/add-classification">
                <h2>Add Classification</h2>
            </a>
        </div>
        <div class="management-item">
            <a href="/inv/add-inventory">
                <h2>Add Inventory Item</h2>
            </a>
        </div>
    </div>


    <h2 class="mx-1">Manage Inventory</h2>
    <p class="mx-1">Choose a classification to see those inventory items</p>
    <div class="mx-1">
        <%- classificationSelect %>
            <table id="inventoryDisplay"></table>
            <noscript>JavaScript must be enabled to use this page.</noscript>
            <script src="../../js/inventory.js"></script>
    </div>

    <% } else { res.redirect('/') } %>